# Turn on URL rewriting
RewriteEngine On

# Accept loading of actual files and directories
# Accept loading of actual files and                
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all requests to the public/index.php file
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
