body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: calc(100% - 4rem);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 100;
}

.header a {
    color: inherit;
    color: #FF8C00;
    text-decoration: none;
    font-size: 200%;
    font-weight: 700;
}

.logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 150px;
    height: auto;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        flex-direction: row;

    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: row;

    }

    .header a {
        font-size: 140%;
        margin-left: 5%;
        margin-right: 8%;

    }

    #logo {
        margin-left: 10%;
        width: 100%;
        height: auto;
    }
}
