.menubar {
    position: fixed;
    top: 85px;
    right: -265.3px;
    width: 265.3px;
    height: calc(100vh - 60px);
    background-color: #f9f9f9;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.3s ease-in-out;
    z-index: 999;1q
}

.menubar.active {
    left: 0;
    position: fixed;
}

.menubar-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: color 0.2s ease;
}

.menubar-close:hover {
    color: #555;
}

.menubar-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}
.menubar-header h3 {
    margin: 0;
    font-size: 18px;
}

.menubar-header button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.menubar-content {
    padding: 20px;
    overflow-y: auto;
    height: calc(100% - 60px);
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    margin-bottom: 20px;
}

.menu-items a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.menubar-header img{
    max-width: 60px;  /* Limit image width */
    max-height: 100px; /* Limit image height */
    width: 60px;      /* Fixed width */
    height: 61px;     /* Fixed height */
    object-fit: cover; /* Ensures image covers area without distortion */
    border-radius: 50%;
}

.menu-items img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.menu-items a.active {
    background-color: #FFE4B5;
}

.menu-items a:hover {
    background-color: #FFE4B5;
}

.logout {
    position: absolute;
    bottom: 60px;
    left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.logout:hover {
    background-color: #FFE4B5;
    width: 60%;
}

.logout img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
