:root {
    --primary-color: #7f5539;
    --secondary-color: #DA4B92;
    --text-color: #333;
    --background-color: #f5f5f5;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Main section styles */
main {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    min-height: calc(100vh - 200px); /* Adjust to fit remaining viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.contact-form {
    background-color: #fff; /* Background color of the form */
    padding: 40px 50px 40px 40px; /* Added more padding to the right */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    max-width: 478.2px;
    max-hight: 590px;
    margin: 50px auto; /* Centering the form */
    text-align: center;
}

/* Heading styles */
.contact-form h1 {
    color: #000000; /* Match the page background */
    font-size: 32px;
    margin-bottom: 20px;
}

/* Input field styles */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures padding and border are included in width */
}

/* Button styles */
.contact-form button {
    background-color: var(--secondary-color); /* Pink color for the button */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #d6336c; /* Darker pink on hover */
}

/* Textarea specific styles */
.contact-form textarea {
    height: 100px;
    resize: none; /* Prevent resizing */
}

/* Responsive styles */
@media (max-width: 768px) {
    .contact-form {
        padding: 20px 30px 20px 20px; /* Adjust right padding for smaller screens */
        margin: 20px auto;
    }

    .contact-form h1 {
        font-size: 28px;
    }
}
