.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: #FFEFD5;
    height: 15%;
    padding: 5px;

}

.dashboard-title {
    font-size: 60px;
    color: #FF8C00;
    margin-left: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.role-badge {
    background-color: #8B4513;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
}

.notification-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.bellIcon {
    height: 30px;
    weight: 30px;
    margin-right: 20px;
  }

  @media (max-width: 768px) {
    .dashboard-title {
        margin-right: 15px;
    }
    .bellIcon {
        margin-left: 0px;
    }
    .role-badge {
        margin-right: 0px;
    }
    .header-right {
        gap: 10px;
    }
}