*{
    margin: 0;
    padding: 0;
}

.header {
    min-height : 100vh;
    background-size: cover;
    height : 100vh;
    margin: 0;
    flex-shrink: 0;
    background-image: url(../images/Loading_Screen_Background.png);
    background-position: center;
    position: relative;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.gradient1 {
    opacity: 0.67;
    background: linear-gradient(247deg, #5d3a33 21.21%, #C37A6A 78.79%);
}

.gradient2 {
    opacity: 0.75;
    background: rgba(56, 16, 16, 0.73);
}

.triangle-image {
    position: absolute;
    bottom: 0px;
    left: 70px;
    width: 500px;
    height: auto;
    z-index: 3;
}

.logo-image {
    position: absolute;
    top: 70px;
    left: 93%;
    width: 60px;
    height: auto;
    z-index: 3;
}

.header-1 h1 {
    position: fixed;
    top: 30px;
    left: 50px;
    color: #FFF;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px #FFFAFA;
    font-family: "Marcellus SC";
    font-weight: 500;
    font-style: normal;
    font-size: 90px;
    font-weight: 30;
    line-height: normal;
    z-index: 3;
}

.subtitle-1 p {
    position: absolute;
    color: #FFF;
    font-family: "SUSE", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    top: 135px;
    left: 50px;
    z-index: 3;
    align-items: center;
}

.background-image-1 {
    position: absolute;
    width: 500px;
    bottom: 0px;
    left: 32px;
    align-items: flex-start;
    z-index: 3;
}

section .dots span {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 90%;
    left: 87%;
    background: white;
    border-radius: 50%;
    z-index: 3;
    transform: translateX(calc(var(--i) * 20px));
    animation: loading 1.5s infinite linear;
    animation-delay: calc(var(--i) * 0.1s);
    opacity: 0;
}

@keyframes loading {
    0%, 20% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

  


