.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //margin-bottom: 30px;
    background-color: #E0FFFF;
    height: 10.5%;
    padding: 5px;

}

a {
    text-decoration: none;
    color: inherit;
}


.dashboard-title {
    font-size: 60px;
    color: #FF8C00;
    margin: 40.2px 0px 40.2px 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.role-badge {
    background-color: #8B4513;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
}

.notification-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.bellIcon {
    height: 30px;
    weight: 30px;
    margin-right: 20px;
  }