/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    text-align: center; /* Center the content */
}

/* Section Title */
.section-title {
    display: flex;
    justify-content: center; /* Center both icon and title */
    align-items: center;
    margin: 30px;
}

.section-title img {
    width: 30px;
    height: 35px;
    margin-right: 10px;
}

h2 {
    font-size: 1.5em;
    font-family: sans-serif;
    color: #333;
    margin: 0;
}

/* Navigation buttons */
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.back-button, .see-more-button {
    background-color: #FF8C00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* Section titles */
h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

/* Order grid */
.order-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

/* Order card */
.order-card {
    background-color: #E2DFD2;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Order card */
.order-card11 {
    background-color: #FFFFE0;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Order header alignment */
.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}

/* Order details */
.order-details {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.service-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.service-type {
    font-weight: bold;
    color: #333;
}

.price-breakdown {
    padding-top: 5px;
    margin-top: 10px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: #333;
}

.total {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}

/* Buttons */
.pay-now-button, .paid-button {
    background-color: #7f5539;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 30%;
    display: block;
    margin: 20px auto 0;
    text-align: center;
}

.pay-now-button:hover, .paid-button:hover {
    background-color: #8a6647;
}

/* Responsive design */
@media (max-width: 768px) {
    .order-grid {
        grid-template-columns: 1fr;
    }
}